.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins' ,  sans-serif;
    background: url('./src/assets/notfoundbackgrounddarkmode.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-size:30px ; 
    color: #F5F5F0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 100px;
    color: #F5F5F0;
}