.containerReturn {
    display: flex;
    position: relative;
}

.iconReturn {
    color: #F5F5F0;
    position: relative;
    right: 150px;
    top: -16px;
}

.linkReturn {
    color: #F5F5F0;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    right: 150px;
    top: -18px;
    transition: color 0.3s ease;
}

@media (max-width: 600px) {
    .linkReturn{
        font-size: 13px;
        top: -20px;
}
    .iconReturn {
        font-size: 13px;

    }

}

@media (max-width: 380px) {
    .containerReturn {
        display: flex;
        position: relative;
        right: -17px;
    }
    .linkReturn{
        font-size: 12px;
        top: -20px;
}
    .iconReturn {
        font-size: 12px;

    }
    
}

