.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins' ,  sans-serif;
    background: url('./src/assets/registerbackgrounddarkmode.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form {
    border: 1px solid #78B9B5;
    border-radius: 40px;
    width: 400px;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.title {
    margin-bottom: 15px;
    color: #F5F5F0;
    font-size: 32px;
}

.inputBox {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputBox label {
    color:#F5F5F0 ; 
    margin-bottom: 4px;
}

.inputBox input {
    border: 1px solid #0F828C;
    border-radius: 40px;
    background: transparent;
    color: #EAEAEA;
    width: 100%;
    padding: 10px 20px 10px;
    outline: none;
}

.inputBox input::placeholder{
    color:#F5F5F0 ; 
}

.inputBox .icon {
   position: relative;
    left: 87%;
    transform: translateY(-50%);
    top: -20px;
    color: #EAEAEA;
}

.button {
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    background-color: #78B9B5;
    color:  #EAEAEA;
    border: 2px solid #4A70A9;
    border-radius: 40px;
    margin-bottom: 15px;
    font-size: 14px;
}

.button:hover {
    background: #0F828C;
    transform: translateY(-2%);
}


.linkReturn::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    bottom: -2px;
    height: 2px;
    background: #78B9B5;
    transition: width 0.3s ease;
}

.linkReturn:hover::after {
    width: 100%;
}

