.containerReturn {
    display: flex;
    position: relative;
}

.iconReturn {
    color: #F5F5F0;
    position: relative;
    right: 150px;
    top: -16px;
}

.linkReturn {
    color: #F5F5F0;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    right: 150px;
    top: -18px;
    transition: color 0.3s ease;
}